[submodule ".registry"]
	path = .registry
	url = https://github.com/bbartholdy/bbartholdy.r-universe.dev
	branch = HEAD
[submodule "hitchr"]
	path = hitchr
	url = https://github.com/bbartholdy/hitchr
