[submodule ".registry"]
	path = .registry
	url = https://github.com/bbartholdy/universe
	shallow = true
	branch = HEAD
[submodule "hitchr"]
	path = hitchr
	url = https://github.com/bbartholdy/hitchr
	shallow = true
	registered = true
